<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ project }}">
    {% if pagename|default == '404' %}
      <meta name="robots" content="noindex">
      {# 404 is pre-rendered once and later served from any directory #}
      <base href="/">
    {% endif %}
    {{ metatags }}

    <link href="{{ pathto('_static/css/reset-min.css', 1) }}" rel="stylesheet" type="text/css">
    <link href="{{ pathto('_static/css/base.css', 1) }}" rel="stylesheet" type="text/css">
    <link href="{{ pathto('_static/css/code.css', 1) }}" rel="stylesheet" type="text/css">
    <link href="{{ pathto('_static/css/colors.css', 1) }}" rel="stylesheet" type="text/css">
    <link href="{{ pathto('_static/pygments.css', 1) }}" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/svg+xml" href="{{ pathto('_static/images/favicon.svg', 1) }}">
    <link rel="shortcut icon" href="{{ pathto('_static/images/favicon.ico', 1) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ pathto('_static/images/favicon-32x32.png', 1) }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ pathto('_static/images/favicon-96x96.png', 1) }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ pathto('_static/images/favicon-192x192.png', 1) }}">

    {%- for cssfile in css_files %}
      <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css">
    {%- endfor %}

    {%- block htmltitle %}
      <title>{% if title != project %}{{ title|striptags|e }} - {% endif %}{{ project }}</title>
    {%- endblock %}

    {%- block extrahead %} {% endblock %}
  </head>
  <body>
    {%- block header %}
      <header class="hd">
        <div class="illustration png_fix">
          <a href="https://github.com/PHP-CS-Fixer/PHP-CS-Fixer" class="github-ribbon">Fork me on GitHub</a>
          <div class="content">
            <div class="sensio_product">
              <img class="png_fix" src="{{ pathto('_static/images/sensio-labs-product.png', 1) }}" alt="a Sensio Labs Product" />
            </div>
            <div class="clearfix">
              <div class="logo_header"><a href="/">{{ project }}</a></div>
              <h1 class="title_header">
                <strong>{{ theme_fixer_version_codename }} (v{{ theme_fixer_version_number }})</strong> edition
              </h1>
            </div>

            {%- block navigation %}
            <nav class="nav">
              <ul class="menu">
                <li class="{% if pagename.startswith('doc/installation') %}active{% endif %}"><a href="{{ pathto('doc/installation') }}">Installation</a></li>
                <li class="{% if pagename.startswith('doc/usage') %}active{% endif %}"><a href="{{ pathto('doc/usage') }}">Usage</a></li>
                <li class="{% if pagename.startswith('doc/config') %}active{% endif %}"><a href="{{ pathto('doc/config') }}">Configuration</a></li>
                <li class="{% if pagename.startswith('doc/rules') %}active{% endif %}"><a href="{{ pathto('doc/rules/index') }}">Rules</a></li>
                <li class="{% if pagename.startswith('doc/ruleSets') %}active{% endif %}"><a href="{{ pathto('doc/ruleSets/index') }}">Sets</a></li>
              </ul>
            </nav>
            {% endblock %}
          </div>
        </div>
      </header>
    {% endblock %}

    {%- block content %}
      <main class="bd">
        <div class="content">
          <div class="links_intro">
            <ul>
              <li>
                <a href="/download/php-cs-fixer-v3.phar" class="download-button">
                  Install now
                  <svg viewBox="0 0 24 24">
                    <path d="M13 3h-2v14.3l-4.7-4.6L5 14l5.7 5.6 1.4 1.4 1.4-1.4 5.7-5.6-1.4-1.4-4.7 4.6V3Z"/>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="more_intro">
            {% block body %} {% endblock %}
          </div>
        </div>
      </main>
    {%- endblock %}

    {%- block footer %}
      <footer class="ft">
        <div class="content">
          The <a href="{{ pathto('_static/images/logo.png', 1) }}">logo</a> is &copy; 2010+ Sensio Labs
        </div>
      </footer>
    {%- endblock %}
  </body>
</html>
